<div class="ekart--product-container">
    <!-- <img [src]="product.pImage" id="im">

    String Interpolation
    <p>Name: {{ product.name }}</p>
    <p>Price: {{'$'+ product.price }}</p>
    <p>Color: {{ product.color }}</p>
    <p>Discounted Price: {{getDiscountedPrice().toFixed(2)}}</p>
    <p>{{product.inStock > 0 ? 'Only '+product.inStock + ' item left ':'Not in Stock'}}</p> -->

    <!-- Property Binding -->
    <!-- <button [disabled]="!(product.inStock > 0)">Buy Now</button> -->

    <!-- Event Binding  -->
    <!-- <button (click)="decrementCartValue()">-</button>
    <span>{{addToCart}}</span>
    <button (click)="incrementCartValue()">+</button>  -->
    <!-- String interpolation does not work for all html attributes like Disabled, Hidden, Checked -->

    <!-- <input type="text" (input)="onNameChange($event)"><br>
<p>name={{name}}</p> -->

    <app-search></app-search>
    <!-- <div *ngFor="let item of listOfString">
        <p>Current element of array is: {{item}}</p>
    </div> -->
</div>